* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url("/assets/bg.avif");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.bottom-menu {
  /* height: 50px; */

  width: 100%;
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  z-index: 100;
  flex-wrap: wrap;
}
.item1 div {
  position: relative;
}
img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease-out;
}
input::placeholder {
  padding-left: 10px;
}
img:hover {
  background: rgba(170, 170, 170, 0.648);
  border-radius: 5px;
}
.item1 {
  display: flex;
  align-items: center;
  gap: 10px;

  height: 100%;
}
.item1 img {
  rotate: 260deg;
}
small {
  background: rgb(253, 137, 137);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 p {
  font-weight: 100;
  width: 10px;
  font-size: small;
}

.item2 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item2 img:active {
  scale: 0.85;
}
.item2 form input {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgb(169, 165, 165);
}
.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.item3 img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  opacity: 0.8;
}

.item3 p {
  font-size: 12px;
  font-weight: 500;
}

/* sidebar */
.sidebar {
  background: #383838c9;
  width: 230px;
  border-radius: 10px;
  position: absolute;
  display: none;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  padding: 10px;
}

.on {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  color: #f0f0f0;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.4s ease;
}
.links:hover {
  background: rgb(133, 130, 130);
  border-radius: 10px;
}
.left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ri-arrow-right-s-line {
  color: #d4d0d0;
}
.sky {
  color: skyblue;
}
iframe {
  display: none;
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.on_off {
  display: block;
}

/* menu  */
.home-menu {
  width: 40%;
  height: 80%;
  background: #5a5a5ac8;
  position: absolute;
  bottom: 15%;
  left: 25%;
  border-radius: 10px;
  color: #f0f0f0;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.home-on {
  display: flex;
}
.home-menu .top form input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}
.top {
  height: 10%;
}
.center {
  height: 80%;
}
.center .center-top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}
.center .center-center {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
}
.sd {
  background: #5a5a5a93;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.menu1 {
  /* width: 12%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.menu1 p {
  font-size: 0.8rem;
}
.menu1 img {
  pointer-events: none;
}
.menu1:hover {
  background: rgba(148, 148, 148, 0.163);
  border-radius: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  background: #999898b4;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.bottom i {
  font-size: 1.4rem;
  cursor: pointer;
  padding: 5px;
}
.bottom i:hover {
  background: #555454;
  border-radius: 4px;
}

.display {
  width: 20%;
  height: 84%;
  margin: 3% 1%;
  color: #fff;
  font-size: 0.9rem;
}
.display img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.display .list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.display .list .item {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.item:hover {
  background: #383838c9;
  cursor: pointer;
}
